<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.dojoy.myapplication">

    <!-- <uses-sdk -->
    <!-- xmlns:tools="http://schemas.android.com/tools" -->
    <!-- tools:node="replace"/> -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".stickHeader.StickyHeadersDemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".cardView.CardViewItemActivity">
        </activity>
        <activity android:name=".dialog.DialogActivity">
        </activity>
        <activity android:name=".baidu.BaiduActivity">
        </activity>
        <activity android:name=".scroll.PullScrollViewActivity">
        </activity>
        <activity android:name=".scroll.PullScrollViewZoomView">
        </activity>
        <activity android:name=".scroll.PullZoomListViewActivity">
        </activity>
        <activity android:name=".scroll.recyclerview.PullToZoomRecyclerActivity">
        </activity>
        <activity android:name=".photos.PhotoViewActivity">
        </activity>
        <activity android:name=".photos.PhotoPreviewActivity">
        </activity>
        <activity android:name=".viewpager.MainActivity">
        </activity>
        <activity android:name=".gallery.ActivityCoverFlow">
        </activity>
        <activity android:name=".stickHeader.ui.MyStickHearder">
        </activity>
        <activity
            android:name=".stickHeader.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".stickHeader.ui.AddressBookDemoActivity"
            android:label="@string/title_address_book_demo"
            android:launchMode="singleTop"
            android:parentActivityName=".stickHeader.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".stickHeader.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".stickHeader.ui.HeaderCallbacksDemoActivity"
            android:label="@string/title_simple_demo"
            android:launchMode="singleTop"
            android:parentActivityName=".stickHeader.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".stickHeader.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".stickHeader.ui.StressTestDemoActivity"
            android:label="@string/title_stress_test_demo"
            android:launchMode="singleTop"
            android:parentActivityName=".stickHeader.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".stickHeader.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".stickHeader.ui.CollapsingSectionsDemoActivity"
            android:label="@string/title_collapsing_headers_demo"
            android:launchMode="singleTop"
            android:parentActivityName=".stickHeader.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".stickHeader.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".stickHeader.ui.SectioningAdapterDemoActivity"
            android:label="@string/title_sectioning_adapter_demo"
            android:launchMode="singleTop"
            android:parentActivityName=".stickHeader.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".stickHeader.ui.MainActivity"/>
        </activity>
        <activity android:name=".okhttps.OkHttpActivity">
        </activity>
        <activity android:name=".recycleSlide.mcxtzhang.swipedelmenu.FullDemo.FullDelDemoActivity">
        </activity>
        <activity android:name=".recycleSlide.mcxtzhang.swipedelmenu.ListViewDelDemoActivity">
        </activity>
        <activity android:name=".superTextView.MainAct">
        </activity>
        <activity android:name=".appWidget.TestActivity"/>

        <receiver android:name=".appWidget.MyAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <!--<action android:name="com.pg.appwidget_provider"/>-->
            </intent-filter>
            <intent-filter>
                <action android:name="com.pg.appwidget_provider"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_appwidget_provider"/>
        </receiver>
    </application>

</manifest>