<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.dojoy.myapplication">

    <!-- <uses-sdk -->
    <!-- xmlns:tools="http://schemas.android.com/tools" -->
    <!-- tools:node="replace"/> -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".cardView.CardViewItemActivity">
        </activity>
        <activity android:name=".dialog.DialogActivity">
        </activity>
        <activity android:name=".baidu.BaiduActivity">
        </activity>
        <activity android:name=".scroll.PullScrollViewActivity">
        </activity>
        <activity android:name=".scroll.PullScrollViewZoomView">
        </activity>
        <activity android:name=".scroll.PullZoomListViewActivity">
        </activity>
        <activity android:name=".scroll.recyclerview.PullToZoomRecyclerActivity">
        </activity>
        <activity android:name=".photos.PhotoViewActivity">
        </activity>
        <activity android:name=".photos.PhotoPreviewActivity">
        </activity>
        <activity android:name=".viewpager.MainActivity">
        </activity>
        <activity android:name=".gallery.ActivityoverFlow">
        </activity>
        <activity android:name=".gallery.ActivityCoverFlow">
        </activity>
    </application>

</manifest>